.reviewPaneChart{
    display: flex;
    justify-content: center;
    .reviewPie{
        width: 40%;
    }
    .dataList{
        display: flex;
        align-items: center;
    }
}

.toggleHolder{
    display: flex;
    align-items: center;
    height: 40px;
    span{
        margin-right: 8px;
        margin-left: 10px;
    }
}